mixin footer()
	+b.FOOTER.footer.block-with-lazy(class=" wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * 1.2  }s`)
		.container
			.row
				.col
					+soc()
				.col-lg-4.order-lg-first © Datexsoft 2020. Все права защищены.
				+e.col.col-lg-4
					a(href="#") Политика конфиденциальности
