extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-ways/_s-ways.pug
include ../blocks/s-cases/_s-cases.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-blog/_s-blog.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent 
	
	+header-block()
	+s-ways
	+s-cases
	+s-advantages
	+s-blog

	+s-form() 
		+footer()