// мобильное меню

// мобильное меню
$h: rem(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 12;
	position: relative;
	color: $primary;
	// font-size: 32px;
	width: rem(30);
	cursor: pointer;

	&.on {
		// color: #ffffff;
	}

	span:after,
	span:before {
		content: "";
		position: absolute;
		// left: 0;
		right: 0;
	}

	span {
		@include a-cent(y);
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: rem(30);
		height: $h;
		background-color: currentColor;
		// transition: all 0.3s;
		@include mt;
		border-radius: 6px;
	}

	span:before {


		top: $h * 5;
		width: (100% * 2 / 3);
	}

	span:after {
		bottom: $h * 5;
	}

	&:hover {
		&:not(.on) {
			span:before {
				width: 100%;
			}

			span:after {
				width: (100% * 2 / 3);
			}
		}
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		transform-origin: 50% 50%;
		width: 100%;
	}

	&.on span:before {
		transform: rotate(45deg);
	}

	&.on span:after {
		transform: rotate(-45deg);
	}
}

.menu-mobile {
	position: fixed !important;

	height: 100vh;
	width: 100%;
	top: 0;
	// left: 0;
	right: 0;
	@include mt();
	z-index: 999;
	will-change: transform;
	overflow: hidden;

	&:not(.active) {
		visibility: hidden;

		pointer-events: none;
		opacity: 0;
	}

	&__inner {
		// background-color: #c3c3c3;
		padding: rem(100) 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		width: 100%;
		position: relative;
	}

	&__table {
		display: table;
		width: 100%;
		height: 100%;

	}

	&__td {

		display: table-cell;
		vertical-align: middle;
	}

	&__menu-wrap {
		@include media-breakpoint-up(lg) {

			margin-left: auto;
			margin-right: auto;
			max-width: rem(1130);
			display: flex;
			align-items: center;
			justify-content: space-between;

			&::before {
				content: '';
				@include a-cent;
				width: 2px;
				height: 110%;
				background-color: $dark;
			}
		}

		padding-left: 15px;
		padding-right: 15px;
		position: relative;


		ul {
			min-width: rem(320);
		}
	}



	&.active {

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	&__footer {
		overflow: hidden;

		@include media-breakpoint-up(sm) {

			position: absolute;
			@include a-cent(x);
			// left: 0;
			bottom: rem(60);
		}
	}

	@include media-breakpoint-down(xs) {
		&__list2 {
			padding-top: rem(50);

			li {
				font-size: 12px;
				font-family: $font-family-sans-serif;
				font-weight: normal;
			}
		}

		.soc {

			justify-content: flex-start;
			padding-left: 15px;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		@include media-breakpoint-up(lg) {

			margin-bottom: .9em;
		}
	

		a {
			// font-size: 16px;
			text-decoration: none;
			color: #ffffff !important;

			&:hover {
				// opacity: 0.5;
			}

			// display: block;

		}
	}
	.menu>.menu-item > a{
			@extend .mono;
				font-size: rem(45);
	}
}

.menu-mobile{
	.sub-menu{
		position: absolute;

	}
	.sub-menu{
		width: 100%;
		.sub-menu{
			display: none;
		}
	}
	.menu>.menu-item:hover  >a {
		@include media-breakpoint-up(lg) {
			border-color: $primary;
		}
	}
	.menu>.menu-item:last-child > a {

		@include media-breakpoint-down(md) {
		border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: .1);
		}
	}
	.menu>.menu-item > a {
		border-bottom: 1px solid transparent;
		@include media-breakpoint-down(md) {
			border-top: 1px solid rgba($color: #FFFFFF, $alpha: .1);
			padding-top: rem(20);
			padding-bottom: rem(20);
			display: block;
		}
		
		// &:hover{
			
			// }
		}
		.menu>.menu-item-has-children>a {
				@include media-breakpoint-down(md){

					display: flex;
					justify-content: space-between;
					&::after{
						content: url("data:image/svg+xml,%3Csvg width='19' height='35' viewBox='0 0 19 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-1' x2='24' y2='-1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 1.70679 0)' stroke='%23DB1E32' stroke-width='2'/%3E%3Cline y1='-1' x2='24' y2='-1' transform='matrix(0.707107 -0.707107 -0.707107 -0.707107 0 32.7905)' stroke='%23DB1E32' stroke-width='2'/%3E%3C/svg%3E%0A");
						
					}
				}
				}
	.menu>.menu-item-has-children:not(:first-child)>.sub-menu {
		display: none;
	}
	.menu>.menu-item-has-children>.sub-menu {
		// &:not(:first-child){
		// 	display: none;
		// }
			@include media-breakpoint-up(lg){

				padding-left: rem(94);
				left: 100%;
				display: block;
			}
			display: none;
		li{
			font-size: rem(14);
		}
	}
}