mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	//- +b.toggle-menu-mobile--js.d-lg-none
	//- 	span
	+b.menu-mobile--js
		+e.inner
			+e.table
				+e.td
					+e.menu-wrap
						div.col-lg-6.px-0(class="wow slideInLeft" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * 2  }s`)
							+mnu
						+e.list2(class="wow slideInRight" data-wow-duration=`${dur}s`  data-wow-delay=`${delay * 2  }s`)
			//- +e.footer
			//- 	+soc()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+mnu()
					
	// end top-nav